{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <title></title>

    <meta name="description" content="" />

    <link rel="stylesheet" href="{% static 'global.css' %}" />
    <link rel="stylesheet" href="{% static 'homepage.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="landing-oage-div">
      <img class="ellipse-icon4" alt="" src="public/ellipse-3.svg" /><img
        class="rectangle-icon"
        alt=""
        src="public/rectangle-1.svg"
      /><img class="ellipse-icon5" alt="" src="public/ellipse-4.svg" />
      <div class="frame-div39">
        <div class="frame-div40">
          <div class="frame-div41">
            <div class="frame-div42"><div class="home-div">Home</div></div>
            <div class="frame-div42"><div class="home-div">Services</div></div>
            <div class="frame-div42"><div class="home-div">Contacts</div></div>
            <div class="frame-div42"><div class="home-div">Prices</div></div>
          </div>
          <div class="frame-div46">
            <div class="common-button-div">
              <div class="button-div">Sign In</div>
            </div>
            <div class="common-button-div1">
              <div class="button-div">Sign up</div>
            </div>
          </div>
        </div>
        <div class="frame-div47">
          <div class="body-part-div">
            <div class="frame-div48"><div class="jolo-div">Jolo</div></div>
          </div>
          <div class="maximize-your-business-with-us">
            <p class="maximize-your-business">Maximize your business</p>
            <p class="maximize-your-business">&nbsp;</p>
            <p class="maximize-your-business">&nbsp;</p>
            <p class="maximize-your-business">&nbsp;</p>
            <p class="with-us-p">with us!</p>
          </div>
          <div class="common-button-div2">
            <div class="button-div">Sign up</div>
          </div>
        </div>
        <img class="rectangle-icon1" alt="" src="public/rectangle-2@2x.png" />
      </div>
      <div class="footer-div">
        <div class="frame-div49">
          <div class="frame-div50"><div class="about-div">About</div></div>
          <div class="frame-div50"><div class="about-div">Blog</div></div>
          <div class="frame-div50"><div class="about-div">Jobs</div></div>
          <div class="frame-div50"><div class="about-div">Press</div></div>
          <div class="frame-div54">
            <div class="accessibility-div">Accessibility</div>
          </div>
          <div class="frame-div55"><div class="home-div">Partners</div></div>
        </div>
        <div class="frame-div56">
          <img class="github-icon" alt="" /><img
            class="github-icon"
            alt=""
          /><img class="github-icon" alt="" /><img class="github-icon" alt="" />
        </div>
        <div class="frame-div57">
          <img class="github-icon" alt="" />
          <div class="frame-div58">
            <div class="jolo-incall-rights-reserved">
              2022 Jolo Inc.All rights reserved
            </div>
          </div>
        </div>
      </div>
    </div>

    <script></script>
  </body>
</html>