{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Landing Page Design Using HTML & CSS</title>
    <style>
      .container {
        height: 100vh;
        width: 100%;
        background-image: url(static/img/bg.png);
        background-position: center;
        background-size: cover;
        padding-right: 3%;
        padding-left: 5%;
        box-sizing: border-box;
        position: relative;
    }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="{% static 'img/joloo.png' %}" class="logo">
            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </nav>
            <a href="{% url 'login' %}"><button class="btn" id="btn1">Log In</button></a>
            <a href="{% url 'register' %}"><button class="btn" id="btn2">Sign Up</button></a>
        </div>
        <div class="content">
            <div class="text">
            <h1>Maximize your business<br><span>Use JOLO</span></h1>
            <p text-align="left">Jolo helps to set up your business in matter of few seconds. <br>It is a simple webapp that helps service based business to setup their online stores.
            </p>
            <a href="{% url 'register' %}"><button class="btn3">Get Started</button></a>
           </div>
        <div class="pepsi">
        <img src="{% static 'img/big.png' %}" alt="">
        </div>
       </div>
   </div>
</body>
</html>