{% extends 'website/shop_base.html' %}
{% block title %}Appointment Booked{% endblock title %}
{% block content %}
<div class="wrapper">
 <div class="card">
    <div class="card-header">
        <h3>Sucessful</h3>
    </div>

    <div class="card-body" style="width: 20rem;">
        <p class="appointment"> You have successfully booked appointment.</p>
        <br>
        <a class="goback" href="{% url "website:shop" shop_slug%}">Go back to shop!</a>
    </div>
</div>
</div>

{% endblock content %}