{% extends 'website/shop_base.html' %}
{% load static %}

{% block title %}{{ shop.shop_name }} | online shop {% endblock title %}

{% block content %}

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'website:shop' shop.slug %}">{{ shop.shop_name|upper }}</a>
</nav>

<div class="card-group">
    {% for service in services %} 
    <div class="card">
    
            <img src="{% static 'assets/img/service.jpg' %}" class="card-img-top" alt="Service">
            <div class="card-body">
        <h5 class="card-title">{{service.service_name|upper}}</h5>
        <p class="card-text">Usually takes {{service.duration}} minutes!</p>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary">
            <a href="{% url "website:client_register" shop.slug service.slug %}">Nrs. {{service.cost}}</a></button>
    </div>

    </div>
    {% endfor %}
  </div>

{% endblock content %}
{% comment %} <div class="services">
    {% for service in services %}
        <div class="service">
            <div class="service-image">
                <img src="{{ service.image.url }}" alt="{{ service.name }}">
            </div>
            <div class="service-info">
                <h3>{{ service.service_name }}</h3>
                <p>{{ service.description }}</p>
                <p>Price: {{ service.cost }}</p>
            </div>
        </div>
        <div class="service-button">
            <a href="{% url 'website:client_register' shop.slug service.slug %}"><button>Book Now</button></a>
        </div>
    {% endfor %}

</div> {% endcomment %}