body {
    margin: 0;
    line-height: normal;
  }
  .ellipse-icon4 {
    position: absolute;
    top: 630.86px;
    left: 0;
    width: 742.25px;
    height: 423.14px;
  }
  .ellipse-icon5,
  .rectangle-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 1016px;
    height: 300px;
  }
  .ellipse-icon5 {
    left: 844px;
    width: 596px;
    height: 989px;
  }
  .home-div {
    flex: 1;
    position: relative;
    letter-spacing: 0.19px;
    line-height: 7.64px;
    display: inline-block;
  }
  .frame-div41,
  .frame-div42 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .frame-div41 {
    padding: var(--padding-xs);
    box-sizing: border-box;
    justify-content: flex-end;
    gap: var(--gap-sm);
  }
  .button-div {
    position: relative;
    letter-spacing: 0.19px;
    line-height: 7.64px;
    display: inline-block;
  }
  .common-button-div {
    border-radius: 14.78px;
    border: 0.7px solid var(--on-primary);
    padding: 8.8695650100708px 17.7391300201416px;
    justify-content: center;
  }
  .common-button-div,
  .common-button-div1,
  .frame-div40,
  .frame-div46 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
  }
  .common-button-div1 {
    border-radius: 15.54px;
    background-color: var(--alik-dark);
    box-shadow: 0 4.662857532501221px 23.31px 3.89px rgba(0, 0, 0, 0.13);
    padding: 9.325715065002441px 18.651430130004883px;
    justify-content: center;
  }
  .frame-div40,
  .frame-div46 {
    justify-content: flex-end;
  }
  .frame-div46 {
    width: 204px;
    flex-shrink: 0;
    padding: var(--padding-xs);
    gap: 42px;
  }
  .frame-div40 {
    position: absolute;
    top: 0;
    left: 540px;
    border-radius: var(--br-xs);
    background-color: var(--pp);
    width: 656px;
    padding: 0 var(--padding-xs) 0 0;
    gap: var(--gap-0);
  }
  .jolo-div {
    flex: 1;
    position: relative;
    line-height: 15.27px;
    text-transform: uppercase;
    display: inline-block;
  }
  .body-part-div,
  .frame-div48 {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
  }
  .frame-div48 {
    align-self: stretch;
    height: 76px;
    flex-shrink: 0;
    flex-direction: row;
    padding: 10px;
    align-items: center;
  }
  .body-part-div {
    width: 293px;
    flex-direction: column;
    padding: var(--padding-xs) 0;
    align-items: flex-start;
  }
  .maximize-your-business {
    margin-block-start: 0;
    margin-block-end: 0;
  }
  .with-us-p {
    margin: 0;
  }
  .maximize-your-business-with-us {
    position: relative;
    font-size: var(--headline-medium1-size);
    line-height: 24px;
    text-transform: capitalize;
    text-align: justify;
    display: inline-block;
    width: 555px;
  }
  .common-button-div2,
  .frame-div47 {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
  }
  .common-button-div2 {
    border-radius: 39.97px;
    background-color: var(--pp);
    box-shadow: var(--dp-penubera);
    width: 183.88px;
    flex-direction: row;
    padding: 23.98453140258789px 47.96906280517578px;
    align-items: center;
    font-size: var(--body-small-size);
    color: var(--on-primary);
  }
  .frame-div47 {
    position: absolute;
    top: 190px;
    left: 8px;
    flex-direction: column;
    padding: var(--padding-xs);
    align-items: flex-start;
    gap: var(--gap-xl);
    font-size: var(--font-size-9xl);
    color: var(--pp);
  }
  .rectangle-icon1 {
    position: absolute;
    top: 144px;
    left: 628px;
    width: 568px;
    height: 650px;
    object-fit: cover;
  }
  .frame-div39 {
    position: absolute;
    top: 74px;
    left: 92px;
    background-color: var(--transp);
    width: 1196px;
    height: 794px;
    overflow: hidden;
  }
  .about-div {
    position: relative;
    letter-spacing: 0.19px;
    line-height: 7.64px;
    display: inline-block;
    width: 37px;
    flex-shrink: 0;
  }
  .frame-div50 {
    display: flex;
    flex-direction: row;
    padding: var(--padding-2xs);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }
  .accessibility-div {
    position: relative;
    letter-spacing: 0.19px;
    line-height: 7.64px;
    display: inline-block;
    width: 78px;
    flex-shrink: 0;
  }
  .frame-div54 {
    height: 25px;
  }
  .frame-div49,
  .frame-div54,
  .frame-div55 {
    display: flex;
    flex-direction: row;
    padding: var(--padding-2xs);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }
  .frame-div55 {
    width: 69px;
    height: 38px;
    flex-shrink: 0;
  }
  .frame-div49 {
    width: 496px;
    gap: var(--gap-xs);
  }
  .github-icon {
    position: relative;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    overflow: hidden;
  }
  .frame-div56 {
    display: flex;
    flex-direction: row;
    padding: var(--padding-2xs);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: var(--gap-sm);
  }
  .jolo-incall-rights-reserved {
    position: relative;
    letter-spacing: 0.19px;
    line-height: 7.64px;
    display: inline-block;
    width: 195px;
    flex-shrink: 0;
  }
  .footer-div,
  .frame-div57,
  .frame-div58 {
    display: flex;
    flex-direction: row;
    padding: var(--padding-2xs);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }
  .frame-div58 {
    width: 211px;
    flex-shrink: 0;
  }
  .footer-div,
  .frame-div57 {
    gap: var(--gap-0);
  }
  .footer-div {
    position: absolute;
    top: 1870.5px;
    left: 550px;
    border-radius: var(--br-xs);
    background-color: var(--color-teal-200);
    width: 1196px;
    height: 220px;
    flex-direction: column;
    padding: 0 var(--padding-xs);
    gap: var(--gap-md);
  }
  .landing-oage-div {
    position: relative;
    background-color: var(--on-primary);
    width: 100%;
    height: 1024px;
    overflow: hidden;
    text-align: left;
    font-size: var(--body-small-size);
    color: var(--on-primary);
    font-family: var(--body-medium);
  }
  